@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

$white-color: #fff;
$dark-color: #000;
$bg-color: #242526;

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: $bg-color;
    color: $white-color;
    line-height: 1.6;
}

ul {
    list-style: none;
}

.container {
    max-width: 768px;
    margin: auto;
    padding: 0 20px;
}